.list-item {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    margin-bottom: 20px;
    padding: 0px 10px;

    .list-item-image {
        border-radius: 8px;
        object-fit: contain;
    }

    .list-item-content {
        display: flex;
        flex-direction: column;
        gap: 2px;

        .list-item-title {
            color: #000;
            font-size: large;
            font-weight: bold;
        }

        .list-item-subtitle {
            color: #000;
            font-size: small;
            font-weight: 500;
        }
    }
}