body {
    padding: 0;
    margin: 0;
}

.slides {
    height: 100vh;
    transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.slide {
    display: flex;
    height: 100vh;
    color: white;
    justify-content: center;
    align-items: center;
    background-size: cover;
    position: relative;
}

.slide::before {
    display: block;
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
}

.heading-1 {
    font-size: 70px;
    text-shadow: 2px 2px red;
    color: rgba(0, 0, 0);
    font-family: "Minecraftia", sans-serif;
}

.heading-2 {
    font-size: 36px;
    text-shadow: 2px 2px red;
    color: rgba(0, 0, 0);
    font-family: "Minecraftia", sans-serif;
}

.heading-3 {
    font-size: 20px;
    // text-shadow: 1px 1px red;
    color: rgba(0, 0, 0);
    font-family: "Minecraftia", sans-serif;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.menu {
    margin-top: 30px;
    padding-left: 30%;
}

.menu-item {
    font-size: 20px;
    color: rgba(0, 0, 0);
    font-weight: 800;
    font-family: "Minecraftia", sans-serif;
    position: relative;
    cursor: pointer;
    padding: 10px 20px;
}

@keyframes selecting {
    0% {
        transform: translate(0px, 0px);
        animation-timing-function: ease-in-out;
    }

    50% {
        transform: translate(5px, 0px);
        animation-timing-function: ease-in-out;
    }

    100% {
        transform: translate(0px, 0px);
        animation-timing-function: ease-in-out;
    }
}

.menu-item.selected::before {
    content: "▶";
    position: absolute;
    top: 0.3em;
    left: -2em;
    animation: 1s ease-in-out 0.2s infinite alternate selecting;
}

.menu-item.selected {
    background-color: rgba(220, 178, 144, 0.7);
}

$outline-width: 6px;
$shadow-width: 4px;

.pixel-frame {
    background: rgba(220, 178, 144, 0.7);
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: 30px;
    padding: 15px;
    width: 90%;
    height: 90%;
    font-family: "Press Start 2P", cursive;
    text-decoration: none;
    color: white;
    z-index: 1;

    &:before,
    &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        box-sizing: content-box;
        z-index: -1;
    }

    &:before {
        top: -$outline-width;
        left: 0;
        border-top: $outline-width black solid;
        border-bottom: $outline-width black solid;
    }

    &:after {
        left: -$outline-width;
        top: 0;
        border-left: $outline-width black solid;
        border-right: $outline-width black solid;
    }
}

.left-corner-image {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 99;
}

.dialog-option {
    max-width: 70%;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.skill-list {
    overflow-y: auto;
}
